name: Lint

on:
  push:
    paths:
      - "**/*.py"

jobs:
  flake8:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.9.12
          architecture: x64
      - name: Checkout the code
        uses: actions/checkout@v3
      - name: Install flake8
        run: pip install flake8
      - name: Run flake8
        uses: suo/flake8-github-action@releases/v1
        with:
          checkName: "flake8"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
