name: Python Release

on:
  push:
    branches:
      - main
    paths:
      - "setup.py"

env:
  DIST_DIR: ${{ github.sha }}
  PYPI_USERNAME: ${{ secrets.PYPI_USERNAME }}
  PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
  GCLOUD_PROJECT_ID: ${{ secrets.GCLOUD_PROJECT_ID }}

jobs:
  upload_package:
    name: Upload package to PyPi
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install Python
        uses: actions/setup-python@v4

      - name: Install dependencies
        run: |
          pip install setuptools

      - name: Create source distribution
        working-directory: ./
        run: sh ./scripts/build-sdist.sh

      - name: Upload to PyPi
        working-directory: ./
        run: |
          pip install twine
          python -m twine upload --repository pypi dist/* -u "$PYPI_USERNAME" -p "$PYPI_PASSWORD"
