name: Python Release

on:
  push:
    tags:
      - v*

env:
  DIST_DIR: ${{ github.sha }}
  SERVICE_ACCOUNT_NAME: ${{ secrets.TOKENIZER_SERVICE_ACCOUNT_NAME }}
  SERVICE_ACCOUNT_KEY: ${{ secrets.TOKENIZER_SERVICE_ACCOUNT_KEY }}
  PYPI_USERNAME: ${{ secrets.PYPI_USERNAME }}
  PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
  GCLOUD_PROJECT_ID: ${{ secrets.GCLOUD_PROJECT_ID }}

jobs:
  create_wheels_manylinux:
    runs-on: ubuntu-latest
    name: Create wheels for manylinux2014
    container: quay.io/pypa/manylinux2014_x86_64
    steps:
      - uses: actions/checkout@v2

      - name: Install dependencies
        run: yum install -y openssl-devel

      - name: ✍️ auth
        uses: google-github-actions/auth@v0
        with:
          credentials_json: ${{ secrets.TOKENIZER_SERVICE_ACCOUNT_KEY }}

      - name: ⤵️ gcloud setup
        uses: google-github-actions/setup-gcloud@v0

      - name: Build and audit wheels
        working-directory: ./
        run: sh ./scripts/build-wheels.sh

  upload_package:
    name: Upload package to PyPi
    runs-on: ubuntu-latest
    needs:
      - create_wheels_manylinux

    steps:
      - uses: actions/checkout@v2

      - name: Install Python
        uses: actions/setup-python@v1

      - name: ✍️ auth
        uses: google-github-actions/auth@v0
        with:
          credentials_json: ${{ secrets.TOKENIZER_SERVICE_ACCOUNT_KEY }}

      - name: ⤵️ gcloud setup
        uses: google-github-actions/setup-gcloud@v0

      - name: Install dependencies
        run: |
          pip install setuptools wheel

      - name: Create source distribution
        working-directory: ./
        run: sh ./scripts/build-sdist.sh

      - name: Retrieve all wheels
        run: gsutil cp -r "gs://cohere-tokenizer-releases/$DIST_DIR/*" ./dist

      - name: Upload to PyPi
        working-directory: ./
        run: |
          pip install twine
          python -m twine upload --repository pypi dist/* -u "$PYPI_USERNAME" -p "$PYPI_PASSWORD"
