name: Release Python Package

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - experimental-release
    paths:
      - "pyproject.toml"

jobs:
  upload_package:
    name: Upload package to PyPi
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install Python
        uses: actions/setup-python@v4

      - name: Install dependencies
        env:
          PYTHON_KEYRING_BACKEND: keyring.backends.null.Keyring
        run: |
          pip install twine poetry==1.2.2
          poetry install

      - name: Create source distribution
        run: poetry build

      - name: Upload to PyPi
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          twine upload --repository pypi dist/*
